.contactForm{
    width: auto;
}
.contactImage{
    width: 50%;
}
.container{
    display: flex;
    align-items: center;
    margin: 60px 100px 100px 100px;
}
.contactHeading{
    margin-top: 85px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 60px;
    padding: 0 250px 0 250px;
}

.floatBtn{
	position:fixed;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

@media (max-width: 768px){
    .contactHeading{
        margin-top: 85px;
        text-align: center;
        margin-bottom: 0px;
        font-size: 60px;
        padding: 0px;
    }
    .container{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin: 0px;
    }
    .contactForm{
        width: 85%;
    }
    .contactImage img{
        height: 100px;
        width: 100px;
    }
}