.contactForm{
    width: auto;
}
.contactImage{
    width: 50%;
}
.container{
    display: flex;
    align-items: center;
    margin: 100px 100px 100px 100px;
}

.floatBtn{
	position:fixed;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}