@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Poppins:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.error-msg {
  color: red;
}
